*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FONTE DO MENU*/
header,
section,
button,
footer{
    font-family: "Bungee", cursive;
}
/*FONTE DO TEXTO*/
body{
    font-family: "Roboto",sans-serif;

}

/*DA COR AO CABEÇARIO E AS LETRAS (E O ESPAÇAMENTO)*/

header{
    padding: 16px;
    background-color: rgb(0, 0, 0);
    color: rgb(218, 23, 23);
}

/* DEIXA TUDO NA MESMA LINHA, COM UM ESPAÇAMENTO A ESQUEDA, MUDA A COR E O TAMANHO DA FONTE DO MENU*/
header nav li{
    display: inline;
    margin-left: 16px;
    color: rgb(17, 16, 16);
    font-size: 18px;
}

/*MUDA A COR DOS MENUS*/
header nav li a{
    color: rgb(218, 23, 23);
    text-decoration: none;
    
}
/* ESTÁ DEIXANDO O TEXTO "SOBRE O FLAMENGO" ALINHADO*/
.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

/* NO HEADER, ESTÁ ALINHANDO AS INFORMAÇÕES DO A HREF E NAS NOTICIAS */
header .container{

    display:flex;
    align-items: center;
    justify-content: space-between;
}

/* muda a cor das letras */

section{
    color: aliceblue;
}



/* SERVE PARA FAZER O AFASTAMENTO DAS LINHAS */
section h2{
    margin-bottom: 10px;
    padding: 10px;
}

/*ESTA DEIXANDO O PRIMEIRO TEXTO ALINHADO AO TÍTULO*/

section p{
    padding: 10px;
    text-align: justify;

}

section ul{
    padding: 40px;
    max-width: 50%;
    text-align: justify;
}

 /*ESTÁ PARTE É REFERENTE AO BACKGROUND GERAL DA PAGE */
body{
    background-size: cover;
    background-repeat: no-repeat;
    
}

/*TENTANDO DESCOBRIR AINDA*/
section .noticia{
    display: flex;
   
}
   
section .container img{
    
        width: 1300px;
        height: 600px;
        margin-left: 9%;
}

   /*ESTÁ PARTE É REFERENTE IMAGEM DOS LESIONMADOS */
section .noticia img{

        width: 700px;
        height: 500px;

}

/* Este serve para alinhar o texto dos lesionados na parte de cima*/

section .noticia{
    align-items:flex-start;
}   

/*Esta parte serve para colocar os jogadores*/

.jogadores {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 60px rgba(219, 9, 9, 0.938);
}
h1 {
    text-align: center;
    color: #e4002b;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #0f0f0f;
    text-align: left;
}
th {
    background-color: #e4002b;
    color: rgb(22, 21, 21);
}
tr:nth-child(even) {
    background-color: #161414;
}


form input,
form textarea,
form button{
display: block;
width: 400px;
margin: 10px;
padding:8px;
margin-left: 50px;
}
form textarea{
    resize: none;
    height: 180px;
}
form button:hover{
    background-color: #d40f0f;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(230, 223, 223, 0.938);
    cursor: pointer;
}
input:focus, textarea:focus{
    outline-color: #d40f0f;
}

.social-links img{
    height: 24px;
    
    }
    #Contato .certo{
        display: block;
    }
    .social-links li{
        display: inline;
        margin-right: 8px;

    }
    .social-links li a{
        text-decoration: none;
        ;
    }

    #contato .certo{
        display: block;
    }

    .contato-metodo{
        display: flex;
        justify-content: space-between;
    }

    .contato-metodo h3{
        margin-left: 50px;
    }
    .certo h2{
        margin-left: 40px;
    }
    .ajustar h3{
        display: inline;
        margin-right: 400px;
        
    }
    .ajustar img{
        
        margin-bottom:  200%;
    }
 
    footer{
        background-color: #d40f0f;
        color: rgb(8, 8, 8);
        padding: 16px 0;
    }